/* CSS BY Robynne Asato */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS REST */
h1 {
    font-size: 4em;
    margin-bottom: 0;
}

header p {
    margin-bottom: 2em;
}

h2 {
    font-weight: lighter;
    margin-bottom: 0;
}

section {
    padding: 1em;
    border-bottom: solid var(--champagne-gold) 2px;
}

nav a {
    display: inline-block;
    padding: 0.25em 1em;
    font-weight: bold;
    font-size: 1.25em;
}

h4 {
    padding: 0.5em;
    border: 1px var(--olive-green) solid;
    border-radius: 10px;
}

footer {
    padding: 2em;
}

footer p {
    margin: 0;
}
/* ROOT VARIABLES */
:root {
    --midnight-blue: #1f2a44;
    --olive-green: #76885b;
    --champagne-gold: #e5c185;
    --linen: #f8f4ec;
    --dark-charcoal: #2b2b2b;
    --soft-white: #faf9f6;

    --font: 'Playfair Display';
}
/* GLOBAL STYLES (mobile first/small) */
html {
    font-family: var(--font);
}

header {
    background-color: var(--midnight-blue);
    color: var(--linen);
    text-align: center;
}

nav {
    background-color: var(--champagne-gold);
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
}

#offerings {
    color: var(--soft-white);
}

#offerings p {
    padding: 0 1em;
}

h3 {
    padding-left: 1em;
    font-size: 2em;
    margin-bottom: 0;
}

h2 {
    color: var(--dark-charcoal);
    font-size: 2em;
}

.provisions {
    background-color: var(--olive-green);
    border: var(--olive-green) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin-top: 1em;
}

.experiences {
    background-color: var(--olive-green);
    border: var(--olive-green) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin-top: 1em;
}

.monthly {
    background-color: var(--olive-green);
    border: var(--olive-green) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin-top: 1em;
}

.monthly ul {
    margin: 0;
}

.monthly p {
    margin-top: 0;
}

.tomato {
    display: block;
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.oil {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.table {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.chef {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

.basket {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}

h4 {
    background-color: var(--olive-green);
    color: var(--soft-white);
    text-align: center;
}

footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

#tel {
    color: var(--soft-white);
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
}
/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    
}
/* MEDIA QUERY (large) */
@media (min-width: 900px) {

}
/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {

}