/* CSS BY Robynne Asato */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS REST */
h1 {
    font-size: 4em;
    margin-bottom: 0;
}

header p {
    margin-bottom: 2em;
}

h2 {
    font-weight: lighter;
    margin-bottom: 0;
}

section {
    padding: 1em;
    border-bottom: solid var(--champagne-gold) 2px;
}

nav li {
    display: inline-block;
    padding: 0.25em 1em;
    font-weight: bold;
    font-size: 1.25em;
}

h4 {
    padding: 0.5em;
    border: 1px var(--olive-green) solid;
    border-radius: 10px;
}

footer {
    padding: 2em;
}

footer p {
    margin: 0;
}
/* ROOT VARIABLES */
:root {
    --midnight-blue: #1f2a44;
    --olive-green: #76885b;
    --champagne-gold: #e5c185;
    --linen: #f8f4ec;
    --dark-charcoal: #2b2b2b;
    --soft-white: #faf9f6;

    --font: 'Playfair Display';
}
/* GLOBAL STYLES (mobile first/small) */
html {
    font-family: var(--font);
}

header {
    background-color: var(--midnight-blue);
    color: var(--linen);
    text-align: center;
}

nav {
    background-color: var(--champagne-gold);
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
}

#offerings {
    color: var(--soft-white);
}

#offerings p {
    padding: 0 1em;
}

h3 {
    padding-left: 15px;
    font-size: 2em;
    margin-bottom: 0;
}

h2 {
    color: var(--dark-charcoal);
    font-size: 2em;
}

.provisions {
    background-color: var(--olive-green);
    border: var(--olive-green) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin-top: 1em;
}

.experiences {
    background-color: var(--olive-green);
    border: var(--olive-green) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin-top: 1em;
}

.monthly {
    background-color: var(--olive-green);
    border: var(--olive-green) 1px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    margin-top: 1em;
}

#gallery img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tomato {
    display: block;
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-style: italic;
}

.tomato p {
    padding-left: 1em;
    padding-right: 1em;
}

.oil {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-style: italic;
}

.oil p {
    padding-left: 1em;
    padding-right: 1em;
}

.table {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-style: italic;
}

.table p {
    padding-left: 1em;
    padding-right: 1em;
}

.chef {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-style: italic;
}

.chef p {
    padding-left: 1em;
    padding-right: 1em;
}

.basket {
    text-align: center;
    border: 1px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-style: italic;
}

.basket p {
    padding-left: 1em;
    padding-right: 1em;
}

h4 {
    background-color: var(--olive-green);
    color: var(--soft-white);
    text-align: center;
}

footer {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

#tel {
    color: var(--soft-white);
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
}
/* MEDIA QUERY (medium) */
@media (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
}
/* MEDIA QUERY (large) */
@media (min-width: 900px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
}
/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    section {
        padding-left: 17em;
        padding-right: 17em;
    }

    #offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 1fr;
        gap: 1em;
    }

    #offerings h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .monthly {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 0.25fr 1fr 0.25fr;
        gap: 1em;
    }

    #gallery h2 {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    #gallery p {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    #gallery div {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    h4 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 6;
    }
}